<div style="background-color: yellow">
  <div style="margin: auto;padding: 20px;height: 300px">
    <div id="map" style="border: 2px solid red">
      <div id="popup">
        <div id="popover-content" class="e2e-inner-html-bound" [innerHTML]="zxczxc | sanitizeHtml">
<!--          <p class="e2e-inner-html-interpolated">{{zxczxc}}</p>-->
<!--          <p>Result of binding to innerHTML:</p>-->
<!--          <p class="e2e-inner-html-bound" [innerHTML]="zxczxc"></p>-->
        </div>
      </div>
    </div>
  </div>
</div>
